parameters:
  level: 7
  paths:
    - .
  excludePaths:
    # @see https://github.com/mglaman/drupal-check/issues/261#issuecomment-1030141772/
    - vendor
    - '*/node_modules/*'
    - 'rector.php'


# Local Variables:
# mode: yaml
# End:
